.events_list_item {
    margin: 0;
    padding: 1rem;
    border: 1px solid #595762;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events_list_item h1 {
    margin: 0;
    font-size: 1.5rem;
    color:#363d69
}

.events_list_item h2 {
    margin: 0;
    font-size: 1rem;
    color:#16161d
}

.events_list_item p {
    margin: 0;
}
